body {
    background: #ffeeee; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to top,
        #ddefbb,
        #ffeeee
    ); /* Chrome 10-25, Safari 5.1-6 */
}

* {
    padding: 0;
    margin: 0;
    font-family: "Special Elite", cursive;
}

.header,
.body,
.footer {
    background-color: (0, 0, 0, 0.5);
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

.body {
    margin-top: 20px;
}

.footer {
    color: white;
    bottom: 0;
    position: fixed;
    left: 0;
    width: 100%;
}
